{% extends 'main.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet/less" href={% static 'main/css/home.less' %}>
{% endblock css %}

{% block content %}
    <div class="d-flex flex-column align-items-center">
        <img src={% static 'main/img/blason.png' %} alt="Blason Abbaye" style="width:50px">
        <h5 class="text-center mb-5">Abbaye</br>Saint-Joseph de Clairval</h5>

        <h1 class="text-center mb-5">Bienvenue sur le site de notre imprimerie !</h1>

        <a class="btn btn-outline-primary btn-sm m-3" href={% url 'main:estimate' %}>Demander un devis</a>
    </div>
{% endblock content %}
